.catalog {
  background-color: inherit;
}

main {
  justify-content: center;
}

.about {
  background-color: #FF3333;
}

.aboutText {
  width: 70%;
}

.wordABOUT {
  font-size: 2rem;
  margin: 1rem 1rem;
}
