.foot ~ .containerSubgroup .boots {
  color: #000000;
}

.foot ~ .containerSubgroup .berts {
  color: #FF3333;
}

.БерцыМастер {
  background-image: url(../images/Берцы\ Мастер.png);
}

.БерцыМастерУ {
  background-image: url(../images/Берцы\ Мастер\ У.png);
}