.foot ~ .containerSubgroup .boots {
  color: #000000;
}

.siz ~ .containerSubgroup .handProtection {
  color: #FF3333;
}

.РукавицыБрезентовые {
  background-image: url(../images/Рукавицы\ брезент.png);
}  

.РукавицыХБСДвойнымНаладонником {
  background-image: url(../images/Рукавицы\ хб\ с\ двойным\ наладонником.png);
}  

.Краги {
  background-image: url(../images/Краги.png);
}  

.ПерчаткиКЩС {
  background-image: url(../images/Перчатки\ КЩС.png);
}  

.ПерчаткиНейлоновыеСНитриловымПокрытием {
  background-image: url(../images/Перчатки\ нейлон\ нитрил.png);
}  

.ПерчаткиНейлоновыеСПолиуретановымПокрытием {
  background-image: url(../images/Перчатки\ нейлон\ ПУ.png);
}  

.ПерчаткиНитриловыеМанжетРезинка {
  background-image: url(../images/Перчатки\ нитриловые\ манжет\ резинка.png);
}  

.ПерчаткиХБСДвойнымЛатекснымПокрытием {
  background-image: url(../images/Перчатки\ хб\ с\ 2-м\ латексом.png);
}  

.ПерчаткиХБСЛатекснымПокрытием {
  background-image: url(../images/Перчатки\ хб\ с\ латексом.png);
}  

.ПерчаткиХБСПВХПокрытием {
  background-image: url(../images/Перчатки\ ХБ\ с\ ПВХ.png);
}  