.foot ~ .containerSubgroup .boots {
  color: #000000;
}

.siz ~ .containerSubgroup .respiratoryProtection {
  color: #FF3333;
}

.Исток400{
  background-image: url(../images/Исток\ 400.png);
}  

.ИстокФФП1{
  background-image: url(../images/Полумаска\ Исток\ ФПП1.png);
}  

.ПротивоаэрозольнаяПолумаска{
  background-image: url(../images/Противоаэрозольная\ полумаска.png);
}  

.ФильтрПротивогазовыйКРеспиратору{
  background-image: url(../images/Фильтр\ противогазовый\ к\ респиратору.png);
}  
