.foot ~ .containerSubgroup .boots {
    color: #000000;
  }
  
  .foot ~ .containerSubgroup .rubberHighBoots {
    color: #FF3333;
  }
  
  .СапогиПВХ {
    background-image: url(../images/Сапоги\ ПВХ.png);
  }

  .СапогиУПВХ {
    background-image: url(../images/Усиленные\ сапоги\ ПВХ.png);
  }

  