.foot ~ .containerSubgroup .boots {
  color: #000000;
}

.clothes ~ .containerSubgroup .signalVest{
  color: #FF3333;
}

.ЖилетСигнальный2 {
  background-image: url(../images/Жилет\ сигнальный\ 2.png);
}  

.ЖилетСигнальный4 {
  background-image: url(../images/Жилет\ сигнальный\ 4.png);
} 