/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*color scheme **/
/*
#FF3333 - red
#275fb8 - blue from globe
#000000 - black
#f5f8f9 - white
3d5d8f - icon
ffffff - whiteIcon
*/

html {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
}

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*****HEADER********/
header {
  width: 100%;
}

.headerFirstLevel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1em;
}

.headerFirstLevelMobile {
  display: none;
}

.headerIconLogo {
  height: 5em;
  width: auto;
}

.textLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: .2em;
}

.siteName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5em;
  font-weight: 800;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .7em;
  letter-spacing: -.03rem;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts>* {
  margin-right: 5em;
}

.addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.address {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.timeTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeTable>* {
  margin-bottom: .5em;
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phonesMobile, .containerPhonesMobile {
  display: none;
}

.phone {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 1em .5em 0;
}

.headerSecondLevel {
  width: 100%;
  height: 2.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.1em;
  font-weight: 500;
  color: #f5f8f9;
  background-color: #275fb8;
}

.headerSecondLevelMobile {
  display: none;  
}

.headerSecondLevel>* {
  padding: .3rem 1rem;
  margin-right: 4em;
  border-radius: 1em;
}

.headerSecondLevel>*:hover {
  background-color: #FF3333;
}

.catalog {
  background-color: #FF3333;
}

/****end header****/

/*****MAIN*****/
main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}

.navCatalog {
  min-width: 22em;
  max-width: 22em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3em;
  margin-bottom: 5em;
}

.navCatalogMobile {
  display: none;
}

.wordCATALOG {
  font-size: 2rem;
  margin: 1rem 1rem;
}

.containerGroupSubgroup {
  width: 100%;
}

.groupIcon {
  height: 1.6em;
  margin-right: .6em;
}

.group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.6em;
  padding: .2rem 0 .2rem 2rem;
  color: #f5f8f9;
  background-color: rgba(39, 95, 184, .9);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.subgroup {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem 0;
  padding-left: 6em;
  color: #000000;
}

.subgroup:hover {
  color: #FF3333;
}

.foot ~ .containerSubgroup .boots {
  color: #FF3333;
}

.products {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3em;
  margin-bottom: 5em;
}

.itemCard {
  width: 20em;
  height: 34em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5em;
  border: 1px solid #8b8a8a;
  border-radius: 5%;
}


.itemCard:hover {
  border: 1px solid #000000;
}

.itemCard:hover .description .containerDetailsPrice > .details {
  display: block;
}

.containerImage {
  width: 100%;
  height: 24em;
  position: relative;
  padding-top: 56.25%;
}

.itemImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.description {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemName {
  font-size: 1.2em;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: .5em .5em 1em .5em;
}

.itemName>* {
  margin-right: .3em;
}

.containerDetailsPrice {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

.priceNds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: .2rem;
}

.details {
  font-size: 1.2em;
  display: none;
  color: #FF3333;
}


/*****end main*****/

/*****FOOTER*****/
footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerFirstLevel {
  width: 100%;
  padding-top: 1rem;
  padding-left: 5em;
  color: #f5f8f9;
  background-color: #275fb8;
}

.footerFirstLevelMobile, .footerSecondtLevelMobile {
  display: none;
}

.footerSecondtLevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1em;
}

.footerSecondtLevel>* {
  margin-right: .5em;
}

.nameGloboBel {
  margin-right: 1em;
}


/*****end footer****/


/*** PRODUCT ***/
.buttonBack {
  display: none;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem;
}

.imageProduct {
  height: 25rem;
  width: auto;
}

.descriptionPriceProduct {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 5rem;
}

.descriptionProduct > h2 {
  margin-bottom: 3rem;
}

.descriptionProduct > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.descriptionProduct strong {
  margin-right: .5rem;
} 

.descriptionPriceProduct >.priceNds {
  padding: 2rem 0;
  border-top: 1px solid;
}

/*** ABOUT && DELIVERY ***/

.wordABOUT, .wordDELIVERY {
  padding-left: 1em;
}

.aboutText, .deliveryText {
  font-size: 1.8em;
}

.aboutText > p, .deliveryText > P {
  text-indent: 1.5em;
  text-align: justify;
  margin-bottom: 1em;
}

/*********** MEDIA *****************/
@media all and (max-width: 1740px) {
  .navCatalog {
    min-width: 21em;
    max-width: 21em;
    margin-right: 2em;
  }
}

@media all and (max-width: 1710px) {
  .navCatalog {
    margin-right: 1em;
  }
}

@media all and (max-width: 1690px) {
  .navCatalog {
    min-width: 20.5em;
    max-width: 20.5em;
    margin-right: .5em;
  }

  .subgroup {
    padding-left: 5em;
  }
}

@media all and (max-width: 1670px) {
  .navCatalog {
    min-width: 19em;
    max-width: 19em;
    margin-right: .5em;
  }

  .group {
    padding: .2rem 0 .2rem .5rem;
  }

  .subgroup {
    padding-left: 4em;
  }
}

@media all and (max-width: 1650px) {
  .navCatalog {
    min-width: 15.5em;
    max-width: 15.5em;
    margin-right: .5em;
  }

  .groupIcon {
    height: 1.3em;
    margin-right: .3em;
  }

  .group {
    font-size: 1.4em;
    padding: .2rem 0 .2rem .5rem;
  }

  .subgroup {
    font-size: 1.3em;
    padding-left: 3em;
  }
}

@media all and (max-width: 1600px) {
  .itemCard {
    width: 18em;
    height: 33em;
  }
}

@media all and (max-width: 1480px) {
  .navCatalog {
    min-width: 14.5em;
    max-width: 14.5em;
    margin-right: .5em;
  }

  .groupIcon {
    height: 1.2em;
    margin-right: .3em;
  }

  .group {
    font-size: 1.3em;
    padding: .2rem 0 .2rem .5rem;
  }

  .subgroup {
    font-size: 1.2em;
    padding-left: 3em;
  }

  .itemCard { 
    width: 17em;
    height: 32em;
  }
}

@media all and (max-width: 1400px) {
  .itemCard { 
    width: 16em;
    height: 29em;
  }

  .details {
    font-size: 1.1em;
  }
}

@media all and (max-width: 1330px) {
  .itemCard { 
    width: 15em;
    height: 28em;
  }

  .details {
    font-size: 1em;
  }

  .contacts>* {
    margin-right: 3em;
  }
}

@media all and (max-width: 1265px) {
  .contacts>* {
    margin-right: 1em;
  }

  .navCatalog {
    min-width: 18em;
    max-width: 18em;
    margin-right: 2em;
  }

  .product {
    margin: 1rem;
  }

  .imageProduct {
    height: 24rem;
  }

  .descriptionPriceProduct {
    font-size: 1.2em;
    margin: 1rem 1rem;
  }
}

@media all and (max-width: 1100px) {
  .headerIconLogo {
    height: 3em;
  }

  .siteName {
    font-size: 2em;
  }

  .slogan {
    display: none;
  }

  .headerFirstLevel > .contacts > .timeTable {
    display: none;
  }

  .headerSecondLevel {
    height: 2.6em;
    font-size: 1em;
  }
}

@media all and (max-width: 1000px) {
  .navCatalog {
    min-width: 14.5em;
    max-width: 14.5em;
    margin-right: .5em;
  }

  .product {
    margin: 1rem;
  }

  .imageProduct {
    height: 22rem;
  }

  .descriptionPriceProduct {
    font-size: 1em;
    margin: 1rem 1rem;
  }

  .itemCard { 
    width: 14em;
    height: 27em;
  }

  .containerDetailsPrice {
    width: 95%;
  }

  .details {
    font-size: .9em;
  }
}

@media all and (max-width: 960px) {
  .navCatalog {
    min-width: 30%;
    max-width: 30%;
    margin-right: .5em;
  }

  .products {
    width: 65%;
  }

  .product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .itemCard { 
    width: 45%;
    height: 29em;
  }

  .footerFirstLevel, .footerSecondtLevel {
    font-size: .8em;
  }
}

@media all and (max-width: 850px) {
  .headerFirstLevel > .contacts > .addresses {
    display: none;
  }
}

@media all and (max-width: 750px) {
  .groupIcon {
    height: 1em;
    margin-right: .3em;
  }

  .group {
    font-size: 1.1em;
    padding: .2rem 0 .2rem .5rem;
  }

  .subgroup {
    font-size: 1em;
    padding-left: 3em;
  }

  .itemCard {
    height: 24em;
  }
}

@media all and (max-width: 700px) {
  .price, .itemName {
    font-size: 1em;
  }
}

@media all and (max-width: 659px) {
  .headerFirstLevel {
    display: none;
  }

  .headerFirstLevelMobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: .5em;
    border-bottom: 1em solid #275fb8;
  }

  .sloganMobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.6em;
    font-weight: 500;
    padding-top: .2em;
    padding-bottom: .5em;
  }

  .containerIconPhoneNav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .iconSitename {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; 
  }

  .headerIconLogo {
    height: 2.5em;
    margin-left: .5em;
  } 

  .siteName {
    font-size: 2.2em;
  }

  .iconPhoneMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1em;
  }

  .iconTel, .iconMenu {
    height: 3em;
    width: 3em;
    margin: .4em 1em;
  }

  .iconTel>img, .iconMenu>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #275fb8;
  }

  .containerPhonesMobile {
    position: absolute;
    top: 5em;
    right: 0em;
    padding: .5em;
    background-color: #f5f8f9;
    border: 1px solid;
    z-index: 1;
    border: .5px solid;
  }
 
  .closePhones {
    width: 2em;
    height: 2em;
  }

  .phonesMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
  }

  .phonesMobile>* {
    margin: 1em .5em;
  }


  .headerSecondLevel {
    display: none;;
  }

  .headerSecondLevelMobile {
    width: 15em;
    height: 20em;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 5%;
    right: 0%;
    padding: .3em;
    z-index: 1;
    background-color: #f5f8f9;
    border: .1px solid;
  }

  .headerSecondLevelMobile>* {
    padding: 0em;
    margin-right: 0em;
    margin-bottom: 2em;
    border-radius: 0em;
    background-color: #f5f8f9;
  }

  .catalogMobile {
    color: #FF3333;
  }

  .closeMenu {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 2.5em;
    height: 2em;
  }

  /*****MAIN*****/
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .navCatalog {
    display: none;
  }

  .navCatalogMobile {
    width: 100vw;
    height: 99vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute; 
    top: 0;
    background-color: #f5f8f9;
    z-index: 1;
    overflow-y: scroll; 
  }

  .closeNavcatalog {
    width: 1.5em;
    font-size: 1.5em;
  }

  .containerGroupSubgroup {
    width: auto;
  }

  .groupIcon {
    height: 1.5em;
  }

  .group {
    font-size: 1.5em;
    background-color:  rgba(39, 95, 184, .9);
  }

  .containerSubgroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #ffffff;
  }

  .subgroup {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 1.3em;
    padding-left: 4em;
  }

  .products {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0em;
  }

  .itemCard {
    width: 30%;
    height: 23em;
  }

  .buttonBack {
    width: 3.5em;
    height: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .arrowBack {
    width: 3.5em;
    height: 3em;
  }

  .containerImage {
    height: 55%;
  }

  .itemImage {
    height: 100%;
  }

  .description {
    height: 45%;
    font-size: 1em;
  }

  .itemName {
    font-size: 1em;
  }

  .containerDetailsPrice {
    margin-bottom: .1em;
  }

  .itemCard:hover .description .containerDetailsPrice > .details {
    display: none;
  }

  /*** PRODUCT ***/

  .product {
    width: 100%;
    font-size: 1em;
    margin: 0em;
  }

  .buttonBack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .imageProduct {
    width: 70%;
    height: auto;
  }

  .descriptionPriceProduct {
    margin: .5em;
  }

  .descriptionProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .descriptionProduct > h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  /*****FOOTER*****/
  footer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
  }

  .footerFirstLevel, .footerSecondtLevel {
    display: none;
  }

  .footerFirstLevelMobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .3em;
    color: #f5f8f9;
    background-color: #275fb8;
  }

  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .9em;
  }

  .contacts > * {
    margin: 0em 0em .5em 0em;
  }

  .addresses > * {
    margin: 0em;
  }

  .footerSecondtLevelMobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: .9em;
    padding: .2em;
  }
  
  .aboutText, .deliveryText {
    width: 90%;
  }

}

@media all and (max-width: 610px) {
  .sloganMobile {
    font-size: 1.5em;
  }

  .itemCard {
    height: 21em;
  }
}

@media all and (max-width: 560px) {
  .sloganMobile {
    font-size: 1.4em;
  }

  .itemCard {
    height: 20em;
  }

  .description {
    height: 45%;
    font-size: .9em;
  }

}

@media all and (max-width: 520px) {
  .sloganMobile {
    font-size: 1.3em;
  }

  .itemCard {
    width: 40%;
    height: 22em;
  }

  .description {
    height: 45%;
    font-size: 1em;
  }
}

@media all and (max-width: 490px) {
  .sloganMobile {
    font-size: 1.2em;
  }

  .itemCard {
    width: 40%;
    height: 21em;
  }
}

@media all and (max-width: 450px) {
  .sloganMobile {
    font-size: 1.1em;
  }

  .iconTel, .iconMenu {
    height: 3em;
    width: 3em;
    margin: .4em .5em;
  }

  .itemCard {
    height: 20em;
  }

  .description {
    font-size: .9em;
  }
}

@media all and (max-width: 410px) {
  .sloganMobile {
    font-size: 1em;
  }

  .headerIconLogo {
    height: 2em;
  }

  .siteName {
    font-size: 1.7em;
  }

  .iconTel, .iconMenu {
    height: 2.5em;
    width: 2.5em;
    margin: .4em 1em;
  }

  .itemCard {
    width: 45%;
    height: 20em;
  }
}

@media all and (max-width: 370px) {
  .sloganMobile {
    font-size: .95em;
  }

  .headerIconLogo {
    height: 1.95em;
  }

  .siteName {
    font-size: 1.65em;
  }

  .iconTel, .iconMenu {
    height: 2.4em;
    width: 2.4em;
    margin: .4em 1em;
  }
}

@media all and (max-width: 360px) {
  .sloganMobile {
    width: 100%;
    font-size: .85em;
    font-weight: 500;
    padding-top: .2em;
    padding-bottom: .5em;
  }

  .itemCard {
    width: 45%;
    height: 20em;
  }

}

@media all and (max-width: 320px) {
  .headerIconLogo {
    height: 1.3em;
  } 

  .siteName {
    font-size: 1.3em;
  }

  .itemCard {
    width: 75%;
    height: 23em;
  }

  .containerPhonesMobile {
    left: 3em;
  }
}

@media all and (max-width: 310px) {
  .sloganMobile {
    font-size: .8em;
  }

  .iconTel, .iconMenu {
    height: 2.2em;
    width: 2.2em;
    margin: .4em .5em;
  }

}

@media all and (max-width: 290px) {
  .sloganMobile {
    font-size: .7em;
    font-weight: 700;
  }

  .containerPhonesMobile {
    left: 1.5em;
  }

  .iconTel, .iconMenu {
    height: 2em;
    width: 2em;
  }

  .itemCard {
    width: 75%;
    height: 23em;
  }

  .descriptionProduct {
    font-size: .8em;
  }
}

@media all and (max-width: 270px) {
  .sloganMobile {
    font-size: .7em;
    font-weight: 600;
    padding-top: .2em;
    padding-bottom: .5em;
  }

  .headerIconLogo, .siteName {
    height: 1.3em;
  }

  .iconTel, .iconMenu {
    height: 2em;
    height: 2em;
    margin: .5em;
  }

  .containerPhonesMobile {
    left: 1em;
  }

  .phonesMobile > .phone {
    font-size: 1em;
  } 

  .itemCard {
    width: 75%;
    height: 20em;
  }

  .descriptionProduct {
    font-size: .8em;
  }
}

@media all and (max-width: 250px) {
  .sloganMobile {
    font-size: .6em;
    font-weight: 700;
    padding-top: .2em;
    padding-bottom: .5em;
  }

  .headerIconLogo{
    height: 1em;
  }

  .siteName {
    font-size: .9em;
  }

  .iconTel, .iconMenu {
    margin: .5em;
  }

  .containerPhonesMobile {
    left: 1em;
  }

  .phonesMobile > .phone {
    font-size: 1em;
  } 

  .headerSecondLevelMobile {
    width: 12em;
    height: 15em;
  }

  .itemCard {
    width: 75%;
    height: 20em;
  }

  .descriptionProduct {
    font-size: .8em;
  }
}