/*color scheme **/
/*
#990000 - red 
#FF3333 - light red

#333399 - blue
#3e5bb8 - blue 2
#3d54bb - blue 3 - primary
#275fb8 - blue from globe
#000000 - black
#373737 - light black
#ffffff - white
#f5f8f9 - dack white
*/


html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*****HEADER********/
header {
  width: 100%;
}

.headerFirstLevel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  margin: 1em;
}

.headerIconLogo {
  height: 5em;
  width: auto;
}

.textLogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: .2em;
}

.siteName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
  font-weight: 800;
}

.slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7em;
  letter-spacing: -.03rem;
}

.contacts {
  display: flex;
}

.contacts>* {
  margin-right: 5em;
}

.addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.address {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.timeTable {
  display: flex;
  flex-direction: column;
}

.timeTable>* {
  margin-bottom: .5em;
}

.phones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phone {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 1em .5em 0;
}

.headerSecondLevel {
  width: 100%;
  height: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 500;
  color: #f5f8f9;
  background-color: #275fb8;
}

.headerSecondLevel>* {
  padding: .3rem 1rem;
  margin-right: 4em;
  border-radius: 1em;
}

.headerSecondLevel>*:hover {
  background-color: #FF3333;
}

.catalog {
  background-color: #FF3333;
}

/****end header****/

/*****MAIN*****/
main {
  width: 100%;
  flex-grow: 1;
  display: flex; 
}

.navCatalog {
  min-width: 22em;
  max-width: 22em;
  display: flex;
  flex-direction: column;
  margin-right: 3em;
  margin-bottom: 5em;
}

.wordCATALOG {
  font-size: 2rem;
  margin: 1rem 1rem;
}

.containerGroupSubgroup {
  width: 100%;
}

.groupIcon {
  height: 1.6rem;
  margin-right: .6rem;
}


.group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.6rem;
  padding: .2rem 0 .2rem 2rem;
  color: #f5f8f9;
  background-color: rgba(39, 95, 184, .9);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.subgroup {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin: .5rem 0;
  padding-left: 6rem;
  color: #000000;
}

.subgroup:hover {
  color: #FF3333;
}

.foot ~ .containerSubgroup .boots {
  color: #FF3333;
}

.products {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 5em;
}

.itemCard {
  width: 20em;
  height: 34em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  border: 1px solid #8b8a8a;
  border-radius: 5%;
}


.itemCard:hover {
  border: 1px solid #000000;
}

.itemCard:hover .description .containerDetailsPrice > .details {
  display: block;
}

.containerImage {
  height: 70%;
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
}

.БотинкиКомфорт {
  background-image: url(../images/Ботинки\ Комфорт.png);
}

.БотинкиКомфортУ {
  background-image: url(../images/Ботинки\ \ Комфорт\ У.png);
}

.БотинкиКомфортМП {
  background-image: url(../images/Ботинки\ Комфорт\ МП.png);
}

.БотинкиКомфортУМП {
  background-image: url(../images/Ботинки\ \ Комфорт\ У\ МП.png);
}

.БотинкиМастер {
  background-image: url(../images/Ботинки\ Мастер.png);
}

.БотинкиМастерУ {
  background-image: url(../images/Ботинки\ Мастер\ У.png);
}

.БотинкиМастерМП {
  background-image: url(../images/Ботинки\ Мастер\ МП.png);
}

.БотинкиМастерУМП {
  background-image: url(../images/Ботинки\ Мастер\ У\ МП.png);
}

.БотинкиПрофи {
  background-image: url(../images/Ботинки\ Профи.png);
}

.БотинкиПрофиУ {
  background-image: url(../images/Ботинки\ Профи\ У.png);
}

.БотинкиПрофиМП {
  background-image: url(../images/Ботинки\ Профи\ МП.png);
}

.БотинкиПрофиУМП {
  background-image: url(../images/Ботинки\ Профи\ У\ МП.png);
}

.description {
  align-self: center;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemName {
  font-size: 1.2em;
  font-weight: 800;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: .5em .5em 1em .5em;
}

.itemName>* {
  margin-right: .5em;
}

.containerDetailsPrice {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.price {
  font-size: 1.2em;
  font-weight: 700;
}

.details {
  font-size: 1.2em;
  display: none;
  color: #FF3333;
}


/*****end main*****/

/*****FOOTER*****/
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footerFirstLevel {
  width: 100%;
  padding-top: 1rem;
  padding-left: 5rem;
  color: #f5f8f9;
  background-color: #275fb8;
}

.footerSecondtLevel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1em;
}

.footerSecondtLevel>* {
  margin-right: .5em;
}

.footerIconLogo {
  width: 2em;
  height: auto;
}

.nameGloboBel {
  margin-right: 1em;
}


/*****end footer****/


/*** PRODUCT ***/

.product {
  display: flex;
  /*flex-direction: column;*/
  margin: 5rem;
}

.imageProduct {
  width: 20rem;
  height: 25rem;
  /*border-bottom: 1px solid;*/
}

.descriptionProduct {
  margin: 1rem 5rem;
}

.descriptionProduct > h2 {
  margin-bottom: 3rem;
}

.descriptionProduct > div {
  display: flex;
  margin-bottom: 1rem;
}

.descriptionProduct strong {
  margin-right: .5rem;
}


